.controlsDesign {
    height: 100%;
    width: 30%;
  
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 2em;
    
  }
  
  .controlsPanel {
    height: 18em;
    width: 18em;
  
    border: 0.2em solid #E71A27;
    border-radius: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonWiki {
    border-radius: 0.5em;
    width: 10em;
    height: 3.5em;
    background-color: #FBE121;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #080808;

    border: 0.2em solid #E71A27;



  }
  
  .buttonWiki:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #C8BB4D;
  }